{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <!-- Trigger for searchModal -->
    <button class="btn btn-primary btn-lg btn-block text-light border-light" type="button" data-toggle="modal" data-target="#searchModal">
        <i class="fa fa-search"></i> Click to Search
    </button>

    <!-- searchModal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="form">
            <div class="modal-content border-primary">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title">Search For Trip</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-9">
                            <form method="POST" enctype="multipart/form-data" class="form">
                                {% for field in form %}
                                    <div class="form-group col-xs col-md col-lg">
                                        {% csrf_token %}
                                        <label class="form-control-label">{{ field.label_tag }}</label>
                                        &nbsp;
                                        <span class="form-control border-primary mr-sm">
                                            {{ field }}
                                        </span>
                                    </div>
                                {% endfor %} &nbsp;
                                <div class="input-group justify-content-center col-xs">
                                    <button class="btn border-light text-light bg-primary" type="submit">
                                        <i class="fa fa-search"></i>&nbsp;Search
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- searchModal -->

    <br>

    <div class="row">
        <div class="col">
            {% if trips %}
            <div class="table-responsive-sm table-responsive-md">
                <table class="table table-striped text-center">
                    <thead class="bg-primary text-light rounded">
                        <tr>
                            <th>Trip</th>
                            <th class="medium-column">Time</th>
                            <th class="medium-column">Vehicle</th>
                            <th class="medium-column">Route</th>
                            <th class="long-column">Seats Available</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trip in trips %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="medium-column">{{ trip.departure }}</td>
                            <td class="medium-column">{{ trip.vehicle.plate }}</td>
                            <td class="medium-column">{{ trip.vehicle.route }}</td>
                            <td class="long-column">
                                {% for seat in trip.seats %} {{ seat.number }} {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'home:book' trip.id %}">
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i>&nbsp;Book Seat
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="jumbotron">
                {% if messages %}
		            {% for message in messages %}
                        <h3 class="display-4 text-center">
                            {{ message.message }}
                        </h3>
		            {% endfor %}
                {% else %}
                <h3 class="display-4 text-center">
                    Make a
                    <strong>
                        <i class="fa fa-search"></i>Search
                    </strong> to begin
                </h3>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}