{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-5 text-center">
                <div class="alert alert-primary">
                    <h3 class="alert-heading text-center">Trip Details</h3>
                    <hr>
                    <div class="row">
                        <span class="col-sm-5">
                            <strong>Departure Time</strong>&nbsp;
                        </span>
                        <span class="col-sm-7">{{ trip.departure }}</span>
                    </div>
                    <hr>
                    <div class="row">
                        <span class="col-sm-5">
                            <strong>Route</strong>&nbsp;
                        </span>
                        <span class="col-sm-7">{{ trip.start }} to {{ trip.end }}</span>
                    </div>
                    <hr>
                    <div class="row">
                        <span class="col-sm-5">
                            <strong>Vehicle</strong>&nbsp;
                        </span>
                        <span class="col-sm-7">{{ trip.vehicle.plate }}</span>
                    </div>
                    <hr>
                    <div class="row">
                        <span class="col-sm"></span>
                        <span class="col-sm-7">
                            <strong>&nbsp;&nbsp;Seat Arrangement</strong>&nbsp;
                        </span>
                        <span class="col-sm"></span>
                    </div>
                    &nbsp;
                    <div class="row">
                        <span class="col-sm"></span>
                        <span class="col-sm-7">
                            <img class="img-fluid" src="{% static 'home/img/Vehicle Seat Arrangement.svg' %}" alt="Seats">
                        </span>
                        <span class="col-sm"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <div class="col-md-5">
                <div class="border border-primary rounded bg-white">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="text-center text-primary">Make A Booking</h3>
                        <div class="form-group">
                            <label for="na" class="col-form-label-sm">Name</label>
                            <input name="name" class="form-control form-control-sm" placeholder="Enter your name..." type="text" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label-sm">Phone Number</label>
                            <input name="telephone" class="form-control form-control-sm" placeholder="Enter your number..." type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label-sm">Pick A Seat</label>
                            <select name="seat" class="form-control form-control-sm" required>
                                <option value="">Pick a seat...</option>
                                {% for seat in trip.seats %}
                                    <option value="{{ seat.number }}">{{ seat.number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-form-label-sm">Code</label>
                            <input name="code" class="form-control form-control-sm" placeholder="Enter your payment code..." type="text" required>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        {% if message.message == 'Invalid Payment Code' %}
                                            <li{% if mesage.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="button-group justify-content-center">
                            <div class="row">
                                <div class="col"></div>
                                <button class="btn btn-primary col" type="submit">Confirm</button>&nbsp;
                                <button class="btn btn-secondary col" type="reset">Reset</button>
                                <div class="col"></div>
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
{% endblock %}